:root {
  --white: rgba(252, 252, 252, 1);
  --grey: rgba(93, 115, 126);
  --blue: rgba(21, 57, 96, 1);
  --orange: rgba(241, 115, 0, 1);
  --black: rgba(2, 17, 27, 1);
  --light-grey: rgba(93, 115, 126, 0.3);
  --blue-overlay: rgba(21, 57, 96, 0.5);
}
/* Gobal */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
}

/* Navigation */
nav {
  height: 10vh;
  background: var(--blue);
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: var(--white);
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 1%;
    top: 1%;
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: linear-gradient(var(--blue), var(--black));
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(60px at 100% 0%);
    -webkit-clip-path: circle(60px at 100% 0%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    pointer-events: all;
    clip-path: circle(1050px at 90% -10%);
    -webkit-clip-path: circle(1050px at 90% -10%);
  }
}

/* Index Header */
.header-wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas:
    ". . . ."
    ". hero hero ."
    " . hero hero .";
  height: 90vh;
  background: linear-gradient(var(--blue) 90%, var(--grey));
}

.hero {
  grid-area: hero;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.name,
.skills {
  text-align: center;
  padding: 1rem;
}

/* About Section */
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  background: linear-gradient(var(--grey) 90%, var(--blue));
}

.about-header {
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 3px var(--orange);
  border-bottom: solid 3px var(--orange);
  background: var(--blue);
  color: var(--white);
}

.about-grid {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 0.5rem;
}

.about-text h2 {
  text-align: center;
}

.about-text h2::after,
.about-text h2::before {
  content: "-";
  color: var(--orange);
}

.tech-icon {
  height: 125px;
  float: right;
  width: 125px;
  vertical-align: top;
  padding: 1rem;
}

.tech-icon :nth-child(1) {
  float: left;
}

.about-text {
  padding: 0.5rem;
  color: var(--white);
}

.about-text h2 {
  padding-bottom: 0.5rem;
}

.about-text p {
  padding: 0.5rem;
}

/* Projects */

.projects-wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(var(--blue) 90%, var(--grey));
  color: white;
}

.projects-header {
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: ridge 3px var(--orange);
  border-bottom: solid 3px var(--orange);
  background: var(--blue);
}

.projects-content {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.projects-content p,
.projects-content h3 {
  padding: 0.5rem;
}

.project-highlight {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--light-grey);
  border: inset 2px var(--grey);
  padding: 1rem;
  margin-bottom: 1rem;
}

.project-image {
  border: ridge 2px var(--blue);
  height: 200px;
  width: 300px;
  align-self: center;
}

article h3 {
  margin-top: 0.5rem;
}

.project-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.github-icon,
.external-site-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid var(--black);
  border-radius: 50%;
}

.github-icon:hover,
.external-site-icon:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
}

.github-icon img,
.external-site-icon img {
  height: 100%;
  width: 100%;
}
